<html>
    <head>
        <title>Community Events Board</title>
    </head>
    <body>
      <h1>Community Events Board</h1>
      <div class="event-list">
        <ul>
          {% for event in events %}
            <li>{{ event.event }} - {{ event.date }}</li>
          {% endfor %}
        </ul>
      </div>

      <br>
      <h2><a href="/events/new"> Create a new event </a></h2>

      <br>

      {% if session.username %}

      <p> Welcome back, {{ session.username }} </p>

      <p> <a href="/logout"> Logout </a></p>

      {% else %}

      <h2>Log in</h2>
      <form action="/login" method="POST">
        <label for="name">Name</label>
        <input type="text" name="username">

        <label for="password">Password</label>
        <input type="password" name="password">

        <input type="submit" value="Log In">
      </form>

      <p>No account? <a href="/signup">Sign up.</a></p>

      {% endif %}

    </body>
</html>
